.calories {
    display: table;
    width: 300px;
    height: 300px;
    background-color: rgb(180, 255, 106);
    border-top-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.items {
    font-size: 20px;
}

h2 {
    text-align: center;
}